extends layout

block content
  h1= title
  p Simple Supply Chain Visualization by Henrik Lehtonen & Sauli Eloranta

    ul.nav.pull-left: li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown")
            | Valitse kuljetus
            b.caret
        ul.dropdown-menu
            each item, ix in purchases
                li: a(href="/map/#{item.number}")= item.number + ' / ' + item.transport + ' / ' + item.loading + ' (' + item.loading_date + ')'
