extends layout

block content

    p
        a(href="/")= 'Etusivulle'

    script.
        var speed = 100;
        var width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0) * 0.8;
        var height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0) * 0.8;

        var projection = d3.geo.mercator()
                .scale((width + 1) / 2 / Math.PI)
                .translate([width/2, height/2])
                .precision(.1);

        var path = d3.geo.path().projection(projection);
        var graticule = d3.geo.graticule();

        var svg = d3.select("body").append("svg")
                .attr("width", width)
                .attr("height", height);
        svg.append("path")
                .datum(graticule)
                .attr("class", "graticule")
                .attr("d", path);

        var jsonLoc = '/routewaypoints';
        d3.json(jsonLoc, function (error, track) {
            d3.json('/data/world-50m.json', function (error, world) {
                var color_scale = d3.scale.quantile().domain([1, 5]).range(colorbrewer.YlOrRd[5]);
                var filter = svg.append("defs")
                        .append("filter")
                        .attr("id", "drop-shadow")
                        .attr("height", "130%");
                filter.append("feGaussianBlur")
                        .attr("in", "SourceAlpha")
                        .attr("stdDeviation", 5)
                        .attr("result", "blur");
                filter.append("feOffset")
                        .attr("in", "blur")
                        .attr("dx", 5)
                        .attr("dy", 5)
                        .attr("result", "offsetBlur");
                var feMerge = filter.append("feMerge");
                feMerge.append("feMergeNode")
                        .attr("in", "offsetBlur")
                feMerge.append("feMergeNode")
                        .attr("in", "SourceGraphic");
                svg.insert("path", ".graticule")
                        .datum(topojson.feature(world, world.objects.land))
                        .attr("class", "land")
                        .attr("d", path)
                        .style("filter", "url(#drop-shadow)");
                svg.insert("path", ".graticule")
                        .datum(topojson.mesh(world, world.objects.countries, function (a, b) {
                            return a !== b;
                        }))
                        .attr("class", "boundary")
                        .attr("d", path);
                var dateText = svg.append("text")
                        .attr("id", "dataTitle")
                        .text("2013/11/" + track[0].day + " " + track[0].hour + ":00 class: " + track[0].class)
                        .attr("x", 70)
                        .attr("y", 20)
                        .attr("font-family", "sans-serif")
                        .attr("font-size", "20px")
                        .attr("fill", color_scale(track[0].class));
                var pathLine = d3.svg.line()
                        .interpolate("cardinal")
                        .x(function (d) {
                            return projection([d.lon, d.lat])[0];
                        })
                        .y(function (d) {
                            return projection([d.lon, d.lat])[1];
                        });
                var haiyanPath = svg.append("path")
                        .attr("d", pathLine(track))
                        .attr("fill", "none")
                        .attr("stroke", color_scale(track[0].class))
                        .attr("stroke-width", 3)
                        .style('stroke-dasharray', function (d) {
                            var l = d3.select(this).node().getTotalLength();
                            return l + 'px, ' + l + 'px';
                        })
                        .style('stroke-dashoffset', function (d) {
                            return d3.select(this).node().getTotalLength() + 'px';
                        });
                var haiyanPathEl = haiyanPath.node();
                var haiyanPathElLen = haiyanPathEl.getTotalLength();
                var pt = haiyanPathEl.getPointAtLength(0);

                var icon = svg.append("circle")
                        .attr("r", 30)
                        .attr("transform", "translate(" + pt.x + "," + pt.y + "), scale(" + (0.15 * track[0].class) + ")")
                        .attr("fill", color_scale(track[0].class))
                        .attr("class", "icon");

                var i = 0;
                var animation = setInterval(function () {
                    pt = haiyanPathEl.getPointAtLength(haiyanPathElLen * i / track.length);
                    icon
                            .transition()
                            .ease("linear")
                            .duration(speed)
                            .attr("transform", "translate(" + pt.x + "," + pt.y + "), scale(" + (0.15 * track[i].class) + "), rotate(" + (i * 15) + ")")
                            .attr("fill", color_scale(track[i].route));
                    haiyanPath
                            .transition()
                            .duration(speed)
                            .ease("linear")
                            .attr("stroke", color_scale(track[i].route))
                            .style('stroke-dashoffset', function (d) {
                                var stroke_offset = (haiyanPathElLen - haiyanPathElLen * i / track.length + 9);
                                return (haiyanPathElLen < stroke_offset) ? haiyanPathElLen : stroke_offset + 'px';
                            });
                    dateText
                            .text(track[i].date_time + " | " + "2013/11/" + track[i].day + " " + track[i].hour + ":00 class: " + track[i].class)
                            .attr("fill", color_scale(track[i].class));
                    i = i + 1;
                    if (i == track.length){
                        clearInterval(animation)
                    }
                }, speed);
            });
        });



        d3.select(self.frameElement).style("height", height + "px");
